.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}



button {
  display: block;
  margin: auto;
  text-align: center;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
.person {
  margin-top: 20px;
}

.profile-img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  object-fit: cover;
}
